MapReduceJobs/AnalyticsArtifact/outputdir/
*.iml
PythonUserInteractionScript.zip
MapReduceJobs/DCSElasticSearchArtifact/.classpath
MapReduceJobs/DCSElasticSearchArtifact/.project
MapReduceJobs/DCSElasticSearchArtifact/.settings/org.eclipse.core.resources.prefs
MapReduceJobs/DCSElasticSearchArtifact/.settings/org.eclipse.jdt.core.prefs
MapReduceJobs/DCSElasticSearchArtifact/.settings/org.eclipse.m2e.core.prefs
PythonUserInteractionScript/.idea/modules.xml
PythonUserInteractionScript/.idea/workspace.xml
PythonUserInteractionScript/.idea/misc.xml
