
MapReduceJobs/AnalyticsArtifact/outputdir/._SUCCESS.crc
MapReduceJobs/AnalyticsArtifact/outputdir/.part-r-00000.crc
MapReduceJobs/AnalyticsArtifact/outputdir/_SUCCESS
MapReduceJobs/AnalyticsArtifact/outputdir/part-r-00000
